.group {
    -fx-spacing: 40px;
}

.group__title {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.group__field {
    -fx-pref-width: 250px;
    -fx-pref-height: 20px;

    -fx-min-width: 100px;
}

.noError__field {

}

.withError__field,
.fixed__field {
    -fx-alignment: center;
}